body {
    background-image: url('D:\Free Work\Music generator\Song-generator-Project\Front end\music_gen\public\music-1jpg.jpg'); /* Adjust path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
